<div class="lorem-ipsum">
    &lt;lorem-ipsum&gt;
    <hr/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean luctus efficitur mi, in mattis nunc fringilla non.
        Maecenas sed libero laoreet, semper leo in, eleifend ipsum.
        Praesent tincidunt fermentum ultrices. Mauris ut pellentesque nisl.
        Curabitur in tincidunt ipsum. Cras finibus, neque eu fermentum vulputate,
        urna nisi accumsan magna, eu fringilla velit ligula ac justo.
        Donec ac efficitur mi. Suspendisse ac erat auctor orci ornare commodo nec quis magna.
        Phasellus non risus mattis quam mattis tincidunt et sed nibh. Sed non accumsan leo.
        Suspendisse in aliquet lectus, sed eleifend lacus. In gravida neque ligula.
    <hr/>
    &lt;/lorem-ipsum&gt;
</div>
